#mydiv {
            position:fixed;
            top: 50%;
            left: 50%;
            width:800px;
            height:400px;
            margin-top: -200px; /*set to a negative number 1/2 of your height*/
            margin-left: -400px; /*set to a negative number 1/2 of your width*/
            border: 1px solid #ccc;
            background-color: #f3f3f3;
            padding: 10px;

        }
        .button {
            background-color: #63D1F4;
            color: #ffffff;;
            padding: 10px;
            border-radius: 10px;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            font-size: 15px;
        }

        button:hover {
            background-color: #104E88;
            color: #ffffff;;
            font-size: 15px;
            padding: 10px;
          
        }

        button:disabled,
            button[disabled]{
            background-color: #cccccc;
            color: #ffffff;;
            font-size: 15px;
            left:0px;
            padding: 10px;
            }

        .small-btn {
            width: 50px;
            height: 20px;
        }

.circle1{
    background: #63D1F4;
    border-radius: 60px;
    height: 60px;
    position: center;
    width: 60px;
    margin: auto;
    top:0;
    bottom:-40px;
    right:0px;
    left:0;
}

.circle1:before{
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0 15px 30px;
    border-color: transparent transparent transparent #ffffff;
    position: center;
    top:0;
    left:0;
    right:-5px;
    bottom:0;
    margin: auto;
}

    .medium-btn {
        width: 110px;
        height: 50px;
        background-color: #63D1F4;
        color: #ffffff;
        padding: 10px;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        font-size: 15px;
    }
.circle{
        background: #63D1F4;
        border-radius: 60px;
        height: 60px;
        position: absolute;
        width: 60px;
        margin: auto;circle
        top:0px;
        bottom:-10px;
        right:0;
        left:0;
}
.circle:before{
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 15px 0 15px 30px;
        border-color: transparent transparent transparent #ffffff;
        position: absolute;
        top:0;
        left:0;
        right:-5px;
        bottom:0;
        margin: auto;
}
.progress-containers{
  display: flex;
}

.button_spaced{
margin-right: 20px;
}

.container{
  margin-top: 30px;
  margin-right: 20px;
  padding: 0px;
  }


.container1{
  
  padding:30px; 
  overflow:hidden; 
  position:relative;
  width: 50px;
}


.label{
    z-index:9;
    position:relative;
    text-align: center;
}

.label1{
    
    z-index:9;
    position:relative;
    text-align: center;
    border-right: 3px;
    border-right-style: solid;
}


.label2{
    
    z-index:9;
    position:relative;
    text-align: center;
    border-right: 3px;
    border-style: hidden;

}


.progress{
    z-index;1;
    width:0px;
    height:100%;
    position:absolute;
    background:lightgray;
    left:0px;
    top:0px;
}

.triangle-right {
width: 0;
height: 0;
border-top: 50px solid transparent;
border-left: 100px solid red;
border-bottom: 50px solid transparent;
}

.big-btn {
    width: 160px;
    height: 55px;
}
.wrapper {
text-align: center;
}

table {
    border-collapse: separate;

}
td, th {
    padding-left: 00px;
    padding-right: 30px;
    text-align: center;
}
.progress-containers{
  display: flex;
}
.container{
  background:white; 
  color:black; 
  border: 1px solid black;
  padding:10px; 
  overflow:hidden; 
  position:relative;
  border-radius: 4px;
  width: 200px;
  margin-right: 10px;
}

.container_circle{
  color:black; 
  border: 0px solid black;
  padding:10px; 
  position:relative;
  border-radius: 4px;
  width: 200px;
  margin-right: 10px;
}

.progress{
    z-index;1;
    width:0px;
    height:100%;
    position:absolute;
    background:lightgray;
    left:0px;
    top:0px;
    border-right: 10px;
}

.container_2{
  background:white; 
  color:black; 
  border: 1px solid black;
  padding:5px; 
  overflow:hidden; 
  position:relative;
  border-radius: 4px;
  width: 550px;
  margin-right: 2px;
  height: 20px;
}


.container_3{
  background:white; 
  color:black; 
  border: 1px solid black;
  padding:2px; 
  overflow:hidden; 
  position:relative;
  border-radius: 4px;
  width: 100px;
  margin-right: 2px;
}

.container_circle_2{
  color:black; 
  border: 0px solid black;
  padding:20px; 
  padding-top: 0px;
  position:relative;
  border-radius: 4px;
  width: 100px;
  margin-right: 10px;
}

.progress{
    z-index;1;
    width:0px;
    height:100%;
    position:absolute;
    background:lightgray;
    left:0px;
    top:0px;
}
